@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<address>
    Lima, Perú<br />
    @DateTime.Now.Year <br />    
</address>

<address>
    <strong>Support:</strong><a href="mailto:jl_guzman_arias@hotmail.com">jl_guzman_arias@hotmail.com</a><br />
</address>
